*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.home_container{
    background: teal;
margin-top: 0.1rem;
}
.home_container_header{
    display: flex;
    flex-wrap: wrap;
    margin: 0 10% 0 10% ;
    gap: 10em;
    padding: 1rem;
}
.home_container_header_left{
/* margin: -3rem 0; */
border: 1px;
}
.home_container_header_left>h1{
    color: white;
    font-size: 4em;
    font-weight: 1000;
    
}
.home_container_header_left>h4{
    color: yellow;
    font-size: 2em;
    font-weight: 500;
    text-align: left;
margin-top: -1rem;
}
.home_container_header_right{
padding: 0.2rem;
}
.home_container_header_right>h5{
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    margin-top: 0.8rem;
}
.home_container_header_right>h6{
    color: white;
    font-size: 0.6rem;
    font-weight: 300;
    text-align: left;
    margin-top: 0.8rem;
}
.home_container_header_right>h6>span{
    color: rgb(211, 211, 3);
}
.home_container_header_btn{
    background:yellow;
    border-radius: 0.4rem;
    border: none;
    padding: 0.4rem;
    margin-top: 0.8rem;
    margin-left: -9rem;
    
}
.home_background{
    background: teal;  
}
.home_shopdeals{
    background: teal;
    margin: 0 10% 0 10% ;
}
.home_shopdeals_heading{
    text-align: left;
    color: white;
    font-size: medium;
    font-weight: 500;
}
.home_shopdeals_items{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, max-content));
    gap: 5px;
    margin-top: 10px;
   padding-bottom: 40px;
}

.home_shopdeals_image{
    border: 2px solid teal;
    max-width: 10rem;
    border-radius: 50%;
    background-size: cover;
  
}
.home_shopdeals_name{
    color: yellow;
    font-size: small;
}
.home_newarrival{
padding: 10px;
text-align: left;
}
.home_newarrival_underline{
  margin-left: 10px;
    width: 5.5rem;
    height: 5px;
    background-color: black;
    margin-top: -5px;
}
.home_newarrival_item{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 1rem;
    margin-top: 2rem;
}
.home_newarrival_card{
    width: 18%;
    height: 15%;
    border: 1px solid gray;
    margin: auto;
}
.home_newarrival_card>img{
    width: 70%;
    height: 15%;
 overflow: hidden;
    padding: 5%;
    margin: auto;
}
.home_newarrival_card>h6{
    color: rgb(59, 59, 247);
    padding: 1rem;
    padding-bottom: 2rem;
}
.home_banner{
    background-color: teal;
 margin-top: 20px;
    display: flex;
    padding: 3rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.home_banner_left>h1{
font-size: 35px;
font-weight: 500;
color: white;
margin-left: 20px;
 }
.home_banner_right{
   margin-left: 1px;
   margin-top: 10px;
}
.home_banner_right_button{
    background-color: white;
    color: teal;
    width: 150px;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    padding: 8px;
    
}
.home_banner_right_button:hover{
    background-color: teal;
    color: white;
 border: 1px solid white;
cursor: pointer;
 
    
}
.home_features{
    padding: 15px;
}
.home_features>h4{
    text-align: left;
    margin-top: 40px;
    margin-bottom: 10px;
}
.home_features_item{
display: flex;
gap: 10px;
flex-wrap: wrap;

}
.home_features_card{
    margin-top: 15px;
    text-align: left;
    padding: 20px;
    border-right: 1px solid lightgrey;
    width: 30%;

}
.home_features_card>img{
    width: 90%;
    margin: auto;
}
.home_features_card>h3{
color: rgb(65, 65, 252);
margin-top: 10px;

}
.home_features_card>p{
    font-size:12px;
    margin-top: 10px;
}
.highlighted_text{
    color: rgb(211, 211, 3);
}
@media (max-width: 850px){
    .home_newarrival_item{
        gap: 0.5rem;
        margin-top: 1rem;
        flex-wrap: wrap;
    }
    .home_newarrival_card{
        width: 150px;
        height: 15%;
    }
    .home_newarrival_card>img{
        width: 70%;
        height: 15%;
        padding: 5%;
    } 
}